

version: '3.8'

services:
  # Mosquitto MQTT server
  mqtt:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/etc/mosquitto/mosquitto.conf
    networks:
      - zigbee2mqtt

  zigbee2mqtt:
    image: koenkk/zigbee2mqtt:latest
    container_name: zigbee2mqtt
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./zigbee2mqtt:/app/data
    devices:
      # USB serial port for the Zigbee2MQTT device
      - ${ZIGBEE2MQTT_DEVICE}
    networks:
      - zigbee2mqtt
    depends_on:
      - mqtt

networks:
  zigbee2mqtt:
    driver: bridge