<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>CFBundleTeamIdentifier</key>
	<string>KPNUJSCR58</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to take photos for risk assessment survey questions.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to upload photos for risk assessment survey questions.</string>
</dict>
</plist>
